# Flutter/Dart
.dart_tool/
.packages
build/
*.iml
.metadata
.flutter-plugins
.flutter-plugins-dependencies

# Android
android/.gradle/
android/build/
android/app/build/
android/local.properties
*.apk
*.aab

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh

# IDE
.idea/
.vscode/
*.swp
*.swo

# Test
coverage/

# Misc
.DS_Store
*.log
